
.nav-list {
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  margin-right: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-item a {
  color: #D8DEE9;
  letter-spacing: 1.2px;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

#center-block {
  margin-left: 4rem;
}

h1 {
  color: #ECEFF4;
  font-size: 6vh;
  justify-content: center;
}

